<a href="https://colab.research.google.com/github/nusco/python-unibo/blob/main/B3844_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strings

Strings are sequences of characters, such as these:

    "Hello!"
    "99 Red Balloons"
    "Snoopy says #%^?&*@! when he stubs his toe." ""
    ""

You can "escape" certain characters inside a string:

In [18]:
print("They said, \"Yes!\"")

They said, "Yes!"

Some "escape sequences" in strings have special meaning when you print them:

In [17]:
print("This is one line\nAnd this is another")

This is one line
And this is another

## Operations on strings

You can perform operations on strings, such as concatenation and repetition:

In [5]:
print("I like" + "apple pie.")
print("blink " * 4)

NameError: ignored

## Strings vs. Numbers

Try to guess what will happen when you execute each of the operations below.

In [6]:
print(12 + 12)

24
1212
12 + 12

In [19]:
print("12" + "12")

1212

In [20]:
print("12" + 12)

TypeError: ignored

In [10]:
print("12 + 12")

12 + 12

In [8]:
print("12" * "4")

TypeError: ignored

In [9]:
print("na" * 10)

nananananananananana

In [21]:
print(10 * "na")

nananananananananana

How many did you guess correctly?